@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin TituloSecao() {
    &::before {
        content: "";
        position: relative;
        top: 0;
        background-color: rgb(38, 134, 212);
        border-radius: 50px;
        padding: 0px 4px;
        margin-right: 5px;
    }

    margin: 0px 0px 25px 0px;
}

@keyframes girar {
    0% {

    }

    100% {
        transform: rotate(360deg);
    }
}


body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', arial;

    header {
        z-index: -20;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(../img/pexels-fotios-photos-5700886.jpg);
        background-position:  right;
        background-size: cover;
        position: sticky;
        top: 0;
    
        h1, p {
            margin: 0;
        }
    }

    main {
        background-color: white;
        padding-top: 30px;

        section {
            h2 {
                @include TituloSecao()
            }

            padding: 0px 15px 60px 15px;
        }

        section.apresent {
            div.quadro {
                display: flex;
                align-items: center;
                justify-content: center;

                div.fotoPerfil {
                    position: absolute;
                    height: 235px;
                    width: 235px;
                    animation: girar 4s linear infinite;
                    border-radius: 50%;
                    background-image: linear-gradient(to right, #3c71d3, #79a8ff);
                }
    
                img {
                    top: 0;
                    border: 8px solid white;
                    border-radius: 50%;
                    height: 200px;
                    width: 200px;
                    z-index: 999999;
                }
    
            }

            p {
                font-size: 1.08em;
                text-indent: 20px;
                text-align: justify;
                margin-top: 25px;

                a {
                    color: #3c71d3;
                    font-weight: 400;
                }
            }
        }

        section.info {
            ul {
                padding: 0px 0px 0px 20px;
                margin: 0;

                hr {
                    background-color: rgba(5, 34, 58, 0.219);
                    border-radius: 50px;
                    margin: 28px 0px;
                    border: none;
                    height: 1px;
                    max-width: 180px;
                }

                div {
                    li#categoria {
                        display: inline-block;
                        background-color: rgb(178, 211, 241);
                        font-weight: 600;
                        list-style: none;
                        padding: 0px 8px;
                        border-radius: 20px;
                        margin-bottom: 5px;

                        i {
                            position: relative;
                            top: 2px;
                            align-items: center;
                            padding-right: 8px;
                        }
                    }

                    ul.itens {
                        padding: 0px 0px 0px 31px;
                    }
                }
            }
        }

        section.contato {
            background-color: #1a1a1a;
            padding-top: 30px;
            position: relative;

            img {
                position: absolute;
                margin: 15px 15px 0px 0px;
                width: 110px;
                right: 0;
                top: 0vh;
            }

            h2 {
                color: rgb(240, 240, 240);
            }

            ul {
                margin: 0px;
            }
        }
    }
}